h1,
h2,
h3,
h4,
h5,
h6 {
  color: orange;
}

.container {
  padding: 20px 25px;
  color: black;
}
.list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  font-size: 22px;
  transition: color 0.3s ease;
  color: orange;
}

.link:hover {
  color: orange;
  border: 2px solid orange;
  border-radius: 10px;
  background-color: grey;
}

.link:active {
  color: orange;
}
